<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Herve Kongo 0812808199 hervekongo.hk@gmail.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/style1.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <title>SCPT-DSI</title>
    </head>
    <body>
        <nav>
            <h5 class="brand">SCPT-DSI</h5>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/login">Se deconnecter</a></li>
            </ul>
            <div style="clear: both"></div>
        </nav>
            
        <div class="container mt-4">
            <div class="row"></div>
            <div class="col-sm-8">
                <div class="card" id="card">
                    <div class="card-header" id="cardheader"></div>
                    <div class="card-body">
                        {{#if message}}
                            <h3 class="alert alert-success mt-4">{{message}}</h3>
                        {{/if}}
                        <h2>
                             Formulaire d'identification des stagiaires
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <form role="form" autocomplete="off" action="/auth/soumettre" method="POST" >
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Nom</label>
                                <input id="form-control" autocomplete="off" type="text" name="nom"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="postnom">Post-nom</label>
                                <input id="form-control" autocomplete="off" type="text" name="postnom"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="prenom">Prénom</label>
                                <input id="form-control" autocomplete="off" type="text" name="prenom"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <tr>
                                <td>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Sexe 
                                    </label>
                                </td>
                                <br>
                                <td>
                                    <label for="m">Masculin</small></label>
                                    <input type ="radio"  name="sexe"  value="masculin" /> 
                                </td>
                                 <td>
                                      <label for="">    </small></label> 
                                 </td>
                                 <td>
                                      <label for="">    </small></label> 
                                 </td>
                                 <td>
                                      <label for="">    </small></label> 
                                 </td>
                                <td>
                                    <label for="f">Feminin</small></label> 
                                    <input type ="radio"  name="sexe"  value="feminin"/>
                                </td>
                            </tr> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="universite">Université</label>
                                <input id="form-control" autocomplete="off" type="text" name="universite"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="faculte">Faculté</label>
                                <input id="form-control" autocomplete="off" type="text" name="faculte"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="departement">Option ou Département</label>
                                <input id="form-control" autocomplete="off" type="text" name="departement"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="telephone">Téléphone </label>
                                <input id="form-control" autocomplete="off" type="text" name="telephone"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="telephone">Date debut stage </label>
                                <input id="form-control" autocomplete="off" type="text" name="debut"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="telephone">Date fin stage </label>
                                <input id="form-control" autocomplete="off" type="text" name="fin"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="telephone">Encadreur </label>
                                <input id="form-control" autocomplete="off" type="text" name="encadreur"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-sm-8">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success">Envoyer</button>
                    </div>
                </div>
            </div>
        </form>
        
    </body>
</html>